/* POLICE */
@font-face {
  font-family: "raleway";
  src: url("fonts/Raleway-VariableFont_wght.ttf")  format("truetype");
}
/* GENERAL */
body {
  font-family: "Raleway", Arial, sans-serif;
  margin:0;
}
header, section {
  font-family: "Raleway", Arial, sans-serif;
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
}
h1 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: -5px;
}
h3 {
  font-weight: bold;
  font-size: 15px;
}
ul{
  list-style: none;
}
li{
  text-decoration: none;
}
h3:hover {
  color:#0065fc;
  cursor: pointer;
}
h4 {
  padding-left: 25px;
}
p {
  font-size: 15px;
  margin-bottom: 20px;
}
/* NAV */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#logo {
  padding-top: 20px;
}
nav {
  display: flex;
  align-items: center;  
}
nav ul {
  display: flex;
}
nav li a {
  padding: 30px;
  text-decoration: none;
  color:initial;
}
#signIn {
  color: #0065fc;
  font-weight: bolder;
  text-decoration: none;
  border-top: 3px solid transparent;
  padding: 30px;

}
#signIn:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  cursor: pointer;
}
nav a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  cursor: pointer;
} 
/* SEARCH */
.borduresearch {
  width: 350px;
  border-radius: 10px;
  border: 0.5px solid #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconsearch {
  height: 40px;
  width: 40px;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  height: 40px;
  width: 190px;
  font-size: 14px;
  padding-left: 10px;
  color: black;
  font-weight: bold;
  border: none;
}
.search::placeholder {
  color: black;
  font-family: "raleway";
}
.buttonsearch {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 120px;
  font-size: 14px;
  color: white;
  border-radius: 0 10px 10px 0;
  background-color: #0065fc;
  font-weight: bold;
  cursor: pointer;

}
.buttonsearch:hover {
  background-color: #deebff;
  color: #0065fc;
  cursor: pointer;
}
.desktopnone {
  display:none;
}
/* FILTRES */
.box_filtres {
  display: flex;
  align-items: center;
}
#titre_filtres {
  margin: 20px 10px 10px 10px;
  font-size: 16px;
}
#filtres {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  padding: 0;
  margin: 15px 0;
}
.logos {
  border: 3px solid #f2f2f2;
  border-radius: 50px;
  display: flex;
  align-items: center;
  margin: 10px 10px 0 10px;
  display: flex;
  align-items: center;
  text-align: center;
}
.logos:hover {
  cursor: pointer;
  background-color: #deebff;
  color: #0065fc;
}
.logofiltre {
  color: #0065fc;
  background: #deebff;
  min-width: 17px;
  border-radius: 50px;
  padding: 12px;
}
li:hover .logofiltre {
  cursor: pointer;
  background-color: white;
}
.nom_filtre {
  padding-left: 10px;
  font-size: 14px;
  margin: 0 15px 0 0;
}
/*INFO*/
.info {
  display: flex;
  align-items: center;
}
.infoicon {
  width: 15px;
  height: 15px;
  border: 2px solid #f2f2f2;
  font-size: 12px;
  color: #0065fc;
  margin-right: 10px;
  border-radius: 100%;
  padding-top: 2px;
  text-align: center;
}
.infotext {
  padding-top: 7px;
}
/*HEBERGEMENTS*/
.blocs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.blocmarseille {
  flex: 2;
  height: 650px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.hotelimage1 {
  width: 100%;
  height: 120px;
  background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.hotelimage2 {
  width: 100%;
  height: 120px;
  background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.hotelimage3 {
  width: 100%;
  height: 120px;
  background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.hotelimage4 {
  width: 100%;
  height: 120px;
  background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.hotelimage5 {
  width: 100%;
  height: 120px;
  background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.hotelimage6 {
  width: 100%;
  height: 120px;
  background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.bloc1 {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 0 20px 20px 20px;
}
.bloc2 {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 20px 20px 20px 20px;
}
.afficherplus {
    text-decoration: none;
    color:black;
    line-height: 40px;
    font-weight: bold;
    padding-left: 25px;
}
.cubehebergement {
  width: 30%;
  height: auto;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 1px #dfe0e0; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
}
.cubehebergement:hover {
cursor: pointer;
transform: scale(1.05);
}
.texthebergement {
  width: 90%;
  line-height: 5px;
  padding-left: 10px;
}
.titrehebergement {
  padding-left: 25px;
}

/*POPULAIRES*/
.icontext {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 10px 10px 0 40px;
}
.iconpop {
  padding-top: 25px;
  padding-right: 25px;
}
.populaires {
  flex: 1;
  height: 650px;
  border-radius: 10px;
  background-color: #f2f2f2;
}
.bloc3 {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  padding: 5px 20px 20px 20px;

}
.bloc4 {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  padding: 0 20px 20px 20px;
}
.bloc5 {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  padding: 0 20px 20px 20px;
}
.popimage1 {
  width: 40%;
  height: 140px;
  background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 0 0 15px;
}
.popimage2 {
  width: 40%;
  height: 140px;
  background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 0 0 15px;
}
.popimage3 {
  width: 40%;
  height: 140px;
  background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 0 0 15px;
}
.cubepopulaires {
  width: 90%;
  height: auto;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px 1px #dfe0e0; 
}
.cubepopulaires:hover {
  cursor: pointer;
  transform: scale(1.04);
}
.textpopulaires {
  width: 40%;
  padding-left: 20px;
}
/*ACTIVITES A MARSEILLE*/
.activites {
  margin-top: 50px;
  margin-bottom: 50px;
}
.blocactivites {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.smallblocactivites {
  width: 23%;
  height: 500px;
}
.imgactivites1 {
  width: 100%;
  height: 430px;
  background-image: url("./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.imgactivites2 {
  width: 100%;
  height: 220px;
  background-image: url("./images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.imgactivites3 {
  width: 100%;
  height: 100px;
  margin-top: 40px;
  background-image: url("./images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.imgactivites4 {
  width: 100%;
  height: 430px;
  background-image: url("./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.imgactivites5 {
  width: 100%;
  height: 160px;
  background-image: url("./images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.imgactivites6 {
  width: 100%;
  height: 160px;
  margin-top: 40px;
  background-image: url("./images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}
.cubeactivites {
  width: 23%;
  height:100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeactivites:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.smallcubeactivites {
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.smallcubeactivites:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.titreactivites {
  height: 70px;
  width: 95%;
  display: flex;
  align-items: center;
  padding-left: 5%;
}
/*STARS*/
.starblue {
  color: #0065fc;
  font-size: 12px;
}
.stargrey {
  color: #f2f2f2;
  font-size: 12px;
}
/*FOOTER*/
.footer {
  background-color: #F2F2F2;
  display: flex;
  justify-content: space-between;
  padding: 30px 100px 30px 50px;
}
.decorationNone {
  text-decoration: none;
  color:black;
  line-height: 40px;
}

/*             RESPONSIVE -------- MEDIA QUERIES --------             */
@media only screen and (max-width : 1300px) {
  header {
    margin:20px;
  }
  section {
    margin-left: 20px;
    margin-right: 20px;
  }
  /*             HEBERGEMENTS             */
  .blocs {
  flex-direction: column-reverse;
  margin: 0;
  }
  .blocmarseille {
  background-color: white;
  width: 95%;
  margin: 0;
  padding: 0;
  }
  .bloc1, .bloc2 {
  padding:0;
  margin: 0;
  }
  .cubehebergement {
  width: 85%;
  margin-bottom: 20px;
  margin:0 5px 10px 5px;
  box-shadow: 0 2px 15px 1px #dfe0e0; 
  }
  /*             POPULAIRES             */
  .populaires{
  border-radius:0;
  width: 100%;
  margin:0 5px 10px 5px;
  padding: 0 0 15px 0;
  }
  .blocpopulaires{
  display:flex;
  justify-content: center;
  }
  .bloc3, .bloc4, .bloc5 {
  padding:0;
  width:32%;
  }
  .cubepopulaires {
  box-shadow: 0 2px 15px 1px #dfe0e0; 
  }
  .cubesize h3 {
  margin:0;
  }
  .cubesize {
  padding-bottom:10px;
  padding-top:10px;
  justify-self: center;
  }
  .popimage1, .popimage2, .popimage3 {
  height: 100%;
  width: 45%;
  }
}
/*             RESPONSIVE TABLETTE PAYSAGE             */
@media only screen and (max-width: 780px) {
  /*             POPULAIRES             */
  .blocpopulaires {
  flex-direction: column;
  }
  .bloc3, .bloc4, .bloc5 {
  padding:0;
  width:100%;
  }
  /*             HEBERGEMENTS             */
  .bloc1, .bloc2 {
  flex-direction: column;
  align-items: center;
  padding:0;
  margin: 0;
  }
  .cubehebergement {
  width: 90%;
  margin-bottom: 20px;
  }
  /*             FOOTER             */
  .footer{
  display: block;
  }
}
/*             RESPONSIVE TABLETTE PORTRAIT ET MOBILE             */
@media only screen and (max-width: 630px) {
  header {
    margin:0;
  }
  h1 {
  font-size: 22px;
  }
  h2 {
  font-size: 22px;
  }
  p {
  font-size: 16px;
  }
  /*             NAV          */
  #logo {
  padding-left:25px;
  }
  nav {
  width: 100%;
  }
  nav ul {
  width: 100%;
  padding: 0;
  }
  #signIn {
  position: absolute;
  top: 5px;
  right: 1px;
  }
  nav a:hover {
  border-top: none;
  }
  nav li {
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #f2f2f2;
  padding-bottom: 15px;
  }
  nav li:hover {
  border-bottom: 3px solid #0065fc;
  }
  /*             FILTRES             */
  .box_filtres {
  flex-direction: column;
  align-items: flex-start;
  }
  #filtres {
  margin: 0;
  }
  #titre_filtres {
  font-size: 18px;
  }
  /*             ACTIVITES             */
  .activites {
  height: 1580px;
  padding-left:20px;
  padding-right:20px;
  margin: 0;
  }
  .blocactivites {
  flex-flow: column;
  width: 100%;
  }
  .smallblocactivites {
  width: 100%;
  }
  .cubeactivites {
  width: 100%;
  margin-bottom: 8%;
  }
  .smallcubeactivites {
  width: 100%;
  margin-bottom: 8%;
  }
  .imgactivites1, .imgactivites2, .imgactivites3, .imgactivites4, .imgactivites5, .imgactivites6 {
  height: 150px;
  margin:0;
  }
}
/*             MOBILE             */
@media only screen and (max-width: 410px) {
  /*             RECHERCHE             */
  .buttonsearch {
  height: 45px; 
  width: 45px;
  border-radius: 15px;
  flex-wrap: wrap;
  }
  .mobilenone {
  display:none;
  }
  .desktopnone {
  display:flex;
  }
  .borduresearch {
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
  }
  .iconsearch {
  height: 45px; 
  width: 45px;
  border-radius: 15px 0 0 15px;
  }
}